#overlay {
    position:absolute;
    width:100%;
    height:100%;
    z-index: 1;
}

#overlay.hide {
    display:none;
}

#overlay .view {
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    border-radius: 15px;
    width: 600px;
    margin: 100px auto;
    background: #000;
    padding: 20px;
    color: #fff;
}

#overlay .view.container {
    width: 660px;
}

.button-small {float:right; background-image: url(/static/images/bottom_button_bkgd.jpg); background-repeat: repeat-x; padding:10; margin: 5px 0 0px 5px; border-radius:5px; box-shadow:0px 0px 8px #000000; overflow:auto; text-align:center; color:#fff; font-weight:bold; text-shadow:0px 2px 1px #000}

#overlay .view.container .separator {background-image: url(/static/images/form_bkgd.jpg); margin-top:20px; padding:10px; border-radius:5px; box-shadow:0px 0px 8px #000000;}
#overlay .view.container .separator.top {margin-top:0;}
#overlay .view.container #form_left {float:left; padding:15px; border-right: 1px solid #fff; width:35%;}
#overlay .view.container #form_right {float:right; padding:15px 0px 15px 30px; border-left: 1px solid #ddd; width:55%;}
#overlay .view.container #donate_to {clear:both; padding:15px 0px 18px 0px; border-top:1px solid #ddd;}
#overlay .view.container .field_box {width:193px; height:40px; font-size:17px; margin-bottom:15px; color:#dddddd; border:1px solid #ddd; border-bottom:1px solid #ccc; padding-left:10px; font-family: arial, helvetica ;-moz-box-shadow:inset 0 0 5px #ddd; -webkit-box-shadow:inset 0 0 5px #ddd; box-shadow:inset 0 0 5px #ccc;}
#overlay .view.container .field_box_long {width:314px; height:40px; font-size:17px; margin-bottom:15px; color:#dddddd; border:1px solid #ddd; border-bottom:1px solid #ccc; padding-left:10px; font-family: arial, helvetica ;-moz-box-shadow:inset 0 0 5px #ddd; -webkit-box-shadow:inset 0 0 5px #ddd; box-shadow:inset 0 0 5px #ccc;}
#overlay .view.container .field_box_short {width:60px; height:40px; font-size:17px; margin-bottom:15px; color:#dddddd; border:1px solid #ddd; border-bottom:1px solid #ccc; padding-left:10px; font-family: arial, helvetica ;-moz-box-shadow:inset 0 0 5px #ddd; -webkit-box-shadow:inset 0 0 5px #ddd; box-shadow:inset 0 0 5px #ccc;}
#overlay .view.container #comment_textbox {width:600px; height:50px; font-size:20px; color:#dddddd; border:1px solid #ddd; border-bottom:1px solid #ccc; border-radius:5px; padding-left:15px; font-family: arial, helvetica;}
#overlay .view.container #title_bar {font-size:22px; font-weight: bold; padding-left:10px }
#overlay .view.container #donate_to {clear:both; padding:15px 0 0 0; border-top:1px solid #ddd;}
#overlay .view.container #search_box { float:right}
#overlay .view.container #search_box_short{width:200px; height:25px; font-size:17px; margin-bottom:15px; color:#dddddd; border:1px solid #ddd; border-bottom:1px solid #ccc; padding-left:10px; font-family: arial, helvetica ;-moz-box-shadow:inset 0 0 5px #ddd; -webkit-box-shadow:inset 0 0 5px #ddd; box-shadow:inset 0 0 5px #ccc; border-radius:15px}
#overlay .view.container ul {overflow:scroll; height:200px; clear:both;}
#overlay .view.container ul li {float:left;}
#overlay .view.container ul li.selected {background-color:red;}
#overlay .view.container .button-container {clear:both; background-color:inherit; overflow:hidden;}
#overlay .view.container .button {float:right; background-image: url(/static/images/bottom_button_bkgd.jpg); background-repeat: repeat-x; padding:25px; margin: 15px 0 0px 15px; border-radius:5px; box-shadow:0px 0px 8px #000000; overflow:auto; text-align:center; color:#fff; font-size: 20px; font-weight:bold; text-shadow:0px 2px 1px #000}

body {margin:0; padding:0; background-image: url(/static/images/grey_bkgd.jpeg); font-family:Arial, Helvetica,sans-serif}
li {list-style:none}
a {text-decoration:none; color:#fff}
#nav_top {width:100%; height:80px; background-color:#000; padding-top:10px; border-bottom:1px solid #fff }
#logo {float:left}
#nav_top_center {margin-left:auto; margin-right:auto; width: 860px; color:#fff; overflow: visible}
#content {margin-left:auto; margin-right:auto; width: 860px; border-radius:5px; box-shadow:0px 0px 3px #333; top:0px; position:relative; background-color:#fff; margin-top:30px; margin-bottom:40px; overflow: hidden;}
#content_single_comment {margin-left:auto; margin-right:auto; width: 860px; border-radius:5px; box-shadow:0px 0px 3px #333; top:0px; position:relative; background-color:#fff; margin-top:30px; margin-bottom:40px; overflow: hidden;}
#content_header {width:100%; height:45px; background-color:#e8e8e8; border-radius:5px 5px 0px 0px; border-bottom:1px solid #dfdddd; margin:0px; padding:0px}
#content_header ul li {display:inline; padding-right:25px; padding-left:25px; padding-top:14px; padding-bottom:13px; border-right:1px solid #fff; border-left:1px solid #ccc; font-weight:bold; letter-spacing:-1px; color:#3c3c3c; text-shadow:1px 1px 1px #fff}
#content_header ul {padding:0px; float:left; margin:13px 0px}
#slogan {float:right; padding-top:30px; text-shadow:0px 0px 2px #000}
#jar {margin:0px; line-height:50px; padding-left:16px; padding-right:16px; border-radius:0px 5px 0px 0px; background-color:#bc0000; background-image:url(/static/images/putdollar_bkgd.jpg); background-repeat: repeat-x; float:right; height:100%; color:#fff; font-size:15px; text-shadow:0px 1px 2px #530000}
#douchy_comments {}
#douchy_comments ul {margin:0px; padding:0px !important}
#douchy_comments ul li {overflow: hidden; clear:both; border-bottom: 1px solid #eee}
#wrapper {overflow:hidden}
.thumbs_bar { background-image: url(/static/images/thumbsbar_bkgd.jpg); width:25px; height:100%; float:left; position:absolute}
.thumbs_bar a {width:25px; height:25px; display:block}
.social_box {float:right; padding-left:60px}
.comment_right {float:right; padding:10px 10px 8px 0px}
.comment_text {float:left; width:700px; font-size:14px; color:#666666; text-shadow: 0px 1px 1px #fff; padding-top:20px}
.comment_meta {clear:both; text-align:right; font-size:10px; color:#a5a5a5; padding-top:20px}
.right {float:right};
.left {float:left}
.dark {color:#333}
.thumbup {margin:0px; padding:0px; background-image: url(/static/images/thumbsup.jpg)}
.thumbup.disabled {margin:0px; padding:0px; background-image: url(/static/images/thumbsup_disabled.jpg)}
.thumbup.enabled {margin:0px; padding:0px; background-image: url(/static/images/thumbsup_enabled.jpg)}
.thumbdown {margin:0px; padding:0px; background-image: url(/static/images/thumbsdown.jpg)}
.thumbdown.disabled {margin:0px; padding:0px; background-image: url(/static/images/thumbsdown_disabled.jpg)}
.thumbdown.enabled {margin:0px; padding:0px; background-image: url(/static/images/thumbsdown_enabled.jpg)}
.comment-link { color: #ccc; }

#douchy_comment_single {
    text-align: center;
}

input[type="text"], input[type="password"] {
    color: #666;
    background: white url("/static/images/input_bg.gif") no-repeat;
    background-repeat: repeat-x;
    border: solid 1px #BBB;
    font-size: 13px;
    font-weight: bold;
    padding: 6px;
    border-radius: 3px;
}
