.thumbs-up.inactive {
    color: blue;
}

.thumbs-up.active {
    color: green;
}

.thumbs-up.disabled {
    color: grey;
}

.thumbs-down.inactive {
    color: blue;
}

.thumbs-down.active {
    color: green;
}

.thumbs-down.disabled {
    color: grey;
}
