<!doctype html>

<!--[if lt IE 7]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html lang="en" class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">

    <title>Douchejar!</title>
    <script src="{{ STATIC_URL }}javascripts/lib/modernizr.min.js"></script>
    <script src="{{ STATIC_URL }}javascripts/lib/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}javascripts/lib/underscore.min.js"></script>
    <script src="{{ STATIC_URL }}javascripts/lib/backbone.min.js"></script>
    <script src="{{ STATIC_URL }}javascripts/lib/date.js"></script>
    <script src="{{ STATIC_URL }}javascripts/lib/facebox/facebox.js"></script>
    <script src="{{ STATIC_URL }}javascripts/lib/utils.js"></script>

    {% include "js_templates.html" %}

    <script src="{{ STATIC_URL }}javascripts/app/models/user.js"></script>
    <script src="{{ STATIC_URL }}javascripts/app/models/comment.js"></script>
    <script src="{{ STATIC_URL }}javascripts/app/models/organization.js"></script>
    <script src="{{ STATIC_URL }}javascripts/app/models/rating.js"></script>

    <script src="{{ STATIC_URL }}javascripts/app/views/comments.js"></script>
    <script src="{{ STATIC_URL }}javascripts/app/views/registration.js"></script>
    <script src="{{ STATIC_URL }}javascripts/app/views/login.js"></script>

    <script src="{{ STATIC_URL }}javascripts/app/routes/app.js"></script>

    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}stylesheets/screen.css">

  </head>

  <body>
    <div id="overlay"></div>
    
    <div id="wrapper">
      <div id="nav_top">
        <div id="nav_top_center">
          <div id="logo">
            <a href="{% url app:home %}"><img src="{{ STATIC_URL }}images/logo.png"></a>
          </div>
          <div id="slogan">
            your foul mouth at work |
            {% if user.is_authenticated %}
              <a href="{% url app:logout %}">logout</a>
            {% else %}
              <a href="{% url app:login %}"class="login">login</a>
            {% endif %}
          </div>
        </div>
      </div>
      <div id="content">
        <div id="content_header">
          <ul>
            <li style="border-left:none !important">
            New
            </li>
            <li>
            Popular
            </li>
          </ul>
          <p id="jar"><a href="{% url app:register %}" class="register">Put $1 in the jar</a></p>
        </div>
        {% block content %}{% endblock %}
      </div>
    </div>

  </body>
</html>
