<!doctype html>

<!--[if lt IE 7]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html lang="en" class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">

    <title>Douchejar!</title>
    <script src="{{ STATIC_URL }}javascripts/lib/modernizr.min.js"></script>
    <script src="{{ STATIC_URL }}javascripts/lib/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}javascripts/lib/underscore.min.js"></script>
    <script src="{{ STATIC_URL }}javascripts/lib/backbone.min.js"></script>
    <script src="{{ STATIC_URL }}javascripts/lib/date.js"></script>
    <script src="{{ STATIC_URL }}javascripts/lib/facebox/facebox.js"></script>
    <script src="{{ STATIC_URL }}javascripts/lib/utils.js"></script>

    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}stylesheets/screen.css">
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}javascripts/lib/facebox/facebox.css">

    <script type="text/javascript" charset="utf-8">
      $.facebox.settings.closeImage = "{{ STATIC_URL }}javascripts/lib/facebox/closelabel.png";
      $.facebox.settings.loadingImage = "{{ STATIC_URL }}javascripts/lib/facebox/loading.gif";

      $(document).ready(function($) {
        $('a[rel*=facebox]').facebox();
      });
    </script>
  </head>
    <div id="wrapper">
      <div id="nav_top">
        <div id="nav_top_center">
          <div id="logo">
            <a href="{% url home %}">
              <img src="{{ STATIC_URL }}images/logo.png">
            </a>
          </div>
          <div id="slogan">
            your foul mouth at work |
            {% if user.is_authenticated %}
              <a href="{% url logout %}">logout</a>
            {% else %}
              <a href="#login" rel="facebox">login</a>
            {% endif %}
          </div>
        </div>
      </div>
      <div id="content">
        <div id="content_header">
          <p id="jar"><a rel="facebox" href="#register">Put $1 in the jar</a></p>
        </div>
        <div id="douchy_comment_single">
          <h1>
            <em>
              {{ comment.comment }} <span style="font-size: small">by {{ comment.user.username }} {{ comment.created_at|timesince }}</span>
            </em>
          </h1>
        </div>
      </div>
    </div>

    <div id="register" style="display: none;">
    </div>

    <div id="login" style="display: none;">
      <form action="{% url home %}" method="post" accept-charset="utf-8">
        <table border="0">
          {{ login_form.as_table }}
        </table>
        <p><input type="submit" value="Login" /></p>
      </form>
    </div>

    <div id="register" style="display: none;">
    </div>
  </body>
</html>
