<!doctype html>

<!--[if lt IE 7]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html lang="en" class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">

    <title>Douchejar!</title>
    <meta name="author" content="Igor Guerrero <igfgt1@gmail.com>">

    <script src="{{ STATIC_URL }}javascripts/vendor/modernizr.min.js"></script>
    <script src="{{ STATIC_URL }}javascripts/vendor/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}javascripts/vendor/underscore.min.js"></script>
    <script src="{{ STATIC_URL }}javascripts/vendor/backbone.min.js"></script>

    <script src="{{ STATIC_URL }}javascripts/app/models/comment.js"></script>
    <script src="{{ STATIC_URL }}javascripts/app/models/organization.js"></script>
    <script src="{{ STATIC_URL }}javascripts/app/models/rating.js"></script>

    <script src="{{ STATIC_URL }}javascripts/app/views/comments_list.js"></script>

    <script src="{{ STATIC_URL }}javascripts/app/routes/app.js"></script>

    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}stylesheets/screen.css">

    {% include "js_templates.html" %}
  </head>

  <body>
  </body>
</html>
