<script type="text/template" id="comment">
  <div class="thumbs_bar">
    <a href="{% url app:comment-builder %}/<%= id %>/" class="thumbup">&nbsp;</a>
    <a href="{% url app:comment-builder %}/<%= id %>/" class="thumbdown">&nbsp;</a>
  </div>

  <div class="comment_right">
    <div class="comment_text">
      <%= comment %>
    </div>

    <div class="social_box">
      <a href="https://twitter.com/share?url=http://douchejar.org/comments/<%= id %>" target="blank">
        <img src="{{ STATIC_URL }}images/twitter_icon.png" onmouseover="this.src='{{ STATIC_URL }}/images/twitter_iconhover.png'" onmouseout="this.src='{{ STATIC_URL }}/images/twitter_icon.png'">
      </a>
      <a href="http://www.facebook.com/sharer/sharer.php?u=http://douchejar.org/comments/<%= id %>" target="blank">
        <img src="{{ STATIC_URL}}images/fb_icon.png" onmouseout="this.src='{{ STATIC_URL }}images/fb_icon.png'" onmouseover="this.src='{{ STATIC_URL }}images/fb_iconhover.png'">
      </a>
    </div>

    <div class="comment_meta">
      <a href="{% url app:comment-builder %}/<%= id %>/" class="comment-link">by <span class="dark"><%= user_name %></span> <%= timeAgo %></a>
    </div>
  </div>
</script>

<script type="text/template" id="comment-big">
  <h1>
    <em>
      <%= comment %> <span style="font-size: small">by <%= user_name %> <%= timeAgo %></span>
    </em>
  </h1>
</script>

<script type="text/template" id="login">
  <label>Username <input type="text" name="username"></label>
  <label>Password <input type="password" name="password"></label>
  <a href="{% url app:login %}" class="login">Login</a><a href="{% url app:home %}" class="cancel">Cancel</a>
</script>
