<script type="text/template" id="comment">
  <div class="thumbs_bar">
    <% if(rating_thumbs_up === null) { %>
      <a href="{% url app:comment-builder %}/<%= id %>/" class="thumbup">&nbsp;</a>
      <a href="{% url app:comment-builder %}/<%= id %>/" class="thumbdown">&nbsp;</a>
    <% } else if(rating_thumbs_up === true) { %>
      <a href="{% url app:comment-builder %}/<%= id %>/" class="thumbup">&nbsp;</a>
      <a href="{% url app:comment-builder %}/<%= id %>/" class="thumbdown disabled">&nbsp;</a>
    <% } else { %>
      <a href="{% url app:comment-builder %}/<%= id %>/" class="thumbup disabled">&nbsp;</a>
      <a href="{% url app:comment-builder %}/<%= id %>/" class="thumbdown">&nbsp;</a>
    <% } %>
  </div>

  <div class="comment_right">
    <div class="comment_text">
      <%= comment %>
    </div>

    <div class="social_box">
      <a href="https://twitter.com/share?url=http://douchejar.org/comments/<%= id %>&text=What a douchebag!" target="blank">
        <img src="{{ STATIC_URL }}images/twitter_icon.png" onmouseover="this.src='{{ STATIC_URL }}/images/twitter_iconhover.png'" onmouseout="this.src='{{ STATIC_URL }}/images/twitter_icon.png'">
      </a>
      <a href="http://www.facebook.com/sharer/sharer.php?u=http://douchejar.org/comments/<%= id %>" target="blank">
        <img src="{{ STATIC_URL}}images/fb_icon.png" onmouseout="this.src='{{ STATIC_URL }}images/fb_icon.png'" onmouseover="this.src='{{ STATIC_URL }}images/fb_iconhover.png'">
      </a>
    </div>

    <div class="comment_meta">
      <a href="{% url app:comment-builder %}/<%= id %>/" class="comment-link">by <span class="dark"><%= user_name %></span> <%= timeAgo %></a>
    </div>
  </div>
</script>

<script type="text/template" id="comment-big">
  <h1>
    <em>
      <%= comment %> <span style="font-size: small">by <%= user_name %> <%= timeAgo %></span>
    </em>
  </h1>
</script>

<script type="text/template" id="login">
  <label>Username <input type="text" name="username"></label>
  <label>Password <input type="password" name="password"></label>
  <a href="{% url app:login %}" class="login">Login</a><a href="{% url app:home %}" class="cancel">Cancel</a>
</script>

<script type="text/template" id="register">
  <div class="separator top">
      <input type="text" name="comment" id="comment_textbox" placeholder="Douchy comment here">
  </div>
  <div class="separator">
    <div id="form_left">
      <input type="text" name="first_name" class="field_box" placeholder="First Name" value="<%= first_name %>">
      <input type="text" name="last_name" class="field_box" placeholder="Last Name" value="<%= last_name %>">
      <% if(typeof(id) == "undefined"){ %>
      <input type="text" name="email" class="field_box" placeholder="Email">
      <input type="text" name="username" class="field_box" placeholder="Username">
      <input type="text" name="password" class="field_box" placeholder="Password">
      <% } %>
    </div>
    <div id="form_right">
      <input type="text" name="card_name" class="field_box_long" placeholder="Name on card">
      <input type="text" name="card_number" class="field_box_long" placeholder="Card Number">
      <input type="text" name="card_month" class="field_box_short" placeholder="Month">
      <input type="text" name="card_year" class="field_box_short" placeholder="Year">
      <input type="text" name="card_cvc" class="field_box_short" placeholder="CSV">
      <img src="{{ STATIC_URL }}/images/douche_diagram.png">
    </div>
    <div id="donate_to">
      <div id="title_bar">
        <span>Donate to:</span>
        <div id="search_box"><input type="text" name="search" id="search_box_short" placeholder="Search "></div>
      </div>
      <ul>
        <li><img src="{{ STATIC_URL }}/images/jar_inactive_4.png" alt="" /><p>Saint Joseph Hospital</p></li>
        <li><img src="{{ STATIC_URL }}/images/jar_inactive_3.png" alt="" /><p>Saint Joseph Hospital</p></li>
        <li><img src="{{ STATIC_URL }}/images/jar_inactive_2.png" alt="" /><p>Saint Joseph Hospital</p></li>
        <li><img src="{{ STATIC_URL }}/images/jar_inactive_4.png" alt="" /><p>Saint Joseph Hospital</p></li>
        <li><img src="{{ STATIC_URL }}/images/jar_inactive_4.png" alt="" /><p>Saint Joseph Hospital</p></li>
        <li><img src="{{ STATIC_URL }}/images/jar_inactive_4.png" alt="" /><p>Saint Joseph Hospital</p></li>
        <li><img src="{{ STATIC_URL }}/images/jar_inactive_4.png" alt="" /><p>Saint Joseph Hospital</p></li>
        <li><img src="{{ STATIC_URL }}/images/jar_inactive_4.png" alt="" /><p>Saint Joseph Hospital</p></li>
        <li><img src="{{ STATIC_URL }}/images/jar_inactive_4.png" alt="" /><p>Saint Joseph Hospital</p></li>
        <li><img src="{{ STATIC_URL }}/images/jar_inactive_4.png" alt="" /><p>Saint Joseph Hospital</p></li>
        <li><img src="{{ STATIC_URL }}/images/jar_inactive_4.png" alt="" /><p>Saint Joseph Hospital</p></li>
        <li><img src="{{ STATIC_URL }}/images/jar_inactive_4.png" alt="" /><p>Saint Joseph Hospital</p></li>
      </ul>
    </div>
  </div>
  <div class="button-container">
    <a href="{% url app:register %}" class="register button">Post It!</a>
    <a href="{% url app:home %}" class="cancel button">Cancel</a>
  </div>
</script>
