<script type="text/template" id="comment">
  <div class="thumbs_bar">
    <a href="{% url app:comment-builder %}/<%= id %>/" class="thumbup">&nbsp;</a>
    <a href="{% url app:comment-builder %}/<%= id %>/" class="thumbdown">&nbsp;</a>
  </div>

  <div class="comment_right">
    <div class="comment_text">
      <%= comment %>
    </div>

    <div class="social_box">
      <a>
        <img src="{{ STATIC_URL }}images/twitter_icon.png" onmouseover="this.src='{{ STATIC_URL }}/images/twitter_iconhover.png'" onmouseout="this.src='{{ STATIC_URL }}/images/twitter_icon.png'">
      </a>
      <a>
        <img src="{{ STATIC_URL}}images/fb_icon.png" onmouseout="this.src='{{ STATIC_URL }}images/fb_icon.png'" onmouseover="this.src='{{ STATIC_URL }}images/fb_iconhover.png'">
      </a>
    </div>

    <div class="comment_meta">
      <a href="{% url app:comment-builder %}/<%= id %>/" class="comment-link">by <span class="dark"><%= user_name %></span> <%= timeAgo %></a>
    </div>
  </div>
</script>

<script type="text/template" id="comment-big">
  <div id="content_single_comment">
    <div id="content_header">
      <p id="jar"><a rel="facebox" href="#register">Put $1 in the jar</a></p>
    </div>
    <div id="douchy_comment_single">
      <h1>
        <em>
          <%= comment %> <span style="font-size: small">by igor 11 hours, 18 minutes</span>
        </em>
      </h1>
    </div>
  </div>
</script>

<script type="text/template" id="login">
  <label>Username <input type="text" name="username"></label>
  <label>Password <input type="password" name="password"></label>
  <a href="{% url app:login %}" class="login">Login</a><a href="{% url app:home %}" class="cancel">Cancel</a>
</script>
